<footer class="siteFooter">
  <div>
    <a class="siteFooter__title" href="/">
      Josh Chua
    </a><br>
    <span class="siteFooter__copyright">
      Copyright &copy; {{ now.Year }} Josh Chua | All rights reserved.
    </span>
  </div>
  <div>
    <ul class="siteFooter__list">
      <li><a href="/">Home</a></li>
      <li><a href="https://github.com/joshchua/resume/blob/main/output/online/general/Josh%20Chua%20Resume%20(Limited%20Contact%20Info%20for%20Online).pdf">Resume</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="https://www.linkedin.com/in/joshjchua">LinkedIn</a></li>
      <li><a href="https://github.com/joshchua">GitHub</a></li>
    </ul>
  </div>
</footer>