<header class="siteHeader">
    <a class="siteHeader__siteTitle" href="/">Josh Chua</a>
    <menu class="siteHeader__menu">
        <li class="siteHeader__menuItem"><a class="siteHeader__menuAnchor" href="/">Home</a></li>
        <li class="siteHeader__menuItem"><a class="siteHeader__menuAnchor" href="/">Resume</a></li>
        <li class="siteHeader__menuItem"><a class="siteHeader__menuAnchor" href="/">Projects</a></li>
        <li class="siteHeader__menuItem"><a class="siteHeader__menuAnchor" href="/">Blog</a></li>
    </menu>
</header>