<header class="siteHeader">
    <div class="siteHeader__menuAnchor siteHeader__menuAnchor__main siteHeader__menuAnchor__active" href="/">Josh Chua</div>
    <menu class="siteHeader__menu">
        <li class="siteHeader__menuItem"><a class="siteHeader__menuAnchor" href="/">Resume</a></li>
        <li class="siteHeader__menuItem"><a class="siteHeader__menuAnchor" href="/">Projects</a></li>
        <li class="siteHeader__menuItem"><a class="siteHeader__menuAnchor " href="/">Blog</a></li>
    </menu>
</header>