{{ define "main" }}
<div class="homepageHero homepageHero__full">
    <div class="homepageHero__circle">
        {{ $joshImage := resources.Get "jpg/josh.jpg" }}
        <img class="homepageHero__image" src="{{ $joshImage.RelPermalink }}">
    </div>
    <p class="homepageHero__text">
        <span class="homepageHero__helloWorld">Hello World!</span><br>
        My name is <b>Josh Chua</b>. I'm a<br>
        <b>software engineer</b><br>
        with expertise in<br>
        <b>full-stack web development</b> and<br>
        <b>native and hybrid mobile development</b>.
    </p>
    <div class="homepageHero__stars">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </div>
    {{ $arrowImage := resources.Get "svg/icon-arrow-down.svg" }}
    <img class="homepageHero__scrollIndicator" src="{{ $arrowImage.RelPermalink }}" width="30">
</div>

<div class="content">
    <article>
        {{ $headless := .Site.GetPage "/homepage" }}
        {{ $reusablePages := $headless.Resources.Match "about-me.md" }}
        {{ with index $reusablePages 0 }}
            {{ .Content }}
        {{ end }}
    </article>
</div>
{{ end }}